img{
    border: dashed;
    width: 100px;
}
.container{
    -webkit-column-count: 5;
    -webkit-column-width: 100px;
    -webkit-column-gap: 1px;
    -webkit-column-rule: 3px outset #ff0000;
}
.container div{
    width: 100px;
}
body{
    margin: 5px;
    padding: 0px;
}